@import url("https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@800&display=swap");
:root {
    --litcyan: hsl(193, 38%, 86%);
    --neongrn: hsl(150, 100%, 66%);
    --grayshblue: hsl(217, 19%, 38%);
    --darkgrshblue: hsl(217, 19%, 24%);
    --darkblue: hsl(218, 23%, 16%);
}